*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#header{
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 200px;
    top: 14px;
}

.logo{
    width: 180px;
    position: absolute;
    left: 10px;
    top: -20px;
}

ul, ol{
    list-style: none;
}
.nav li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover{
    background-color: rgba(45, 91, 183, 0.703);
}
.nav > li{
    float: left;
}
.nav li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -140px;
    top: 0px;
}

.box{
    position: absolute;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
}
input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    border-radius:15px;
    color: #444;
    border: 3px solid #a50559;
    width: 60px;
    transition: all 0.1s;
}
input .src :hover{
    width: 180px;
    background-color: #fff;
    border-color: #8c10b3;
    box-shadow: 0 0 5px #6bcff680;

}


main img {
    width: 100%;
    top: 80px;
}

.texto{
    position: absolute;
    color: white;
    top: 470px;
    width: 550px;
    left: 60px;
}
.iconos{
    width: 25px;
    align-items: center;
}

.btn-neon{
    position: absolute;
    top: 380px;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    left: 50px;
    background: white;
    border-radius: 50px;

}

.btn-neon:hover{
    background: rgb(0, 179, 255);
    box-shadow: 0 0 20px rgb(30, 13, 181), 0 0 40px turquoise, 0 0 80px turquoise;
    transition-delay: 0.1s;
}

.btn-neon span{
    position: absolute;
    display: block;
}

.titulo{
   color: white;
   margin-left: 30px;
   padding: 5px;
   font-family: 'Courier New', Courier, monospace;
}

.carrusel-fotos{
    display: flex;
    scroll-behavior: smooth ;
    overflow: hidden;
}


.imgn{
    width: 300px;
    height: 300px;
}


button{
    background-color: rgb(28, 28, 28);
    border: 0;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    background-color: rgb(158, 20, 20);
    margin: 0 5px; 
}

.izquierda{
    width: 25px;
    align-items: center;
    position: relative;
    top: 150px;
    background:  rgb(82, 82, 221);;
}

.derecha{
    width: 25px;
    align-items: center;
    position: relative;
    top:-200px;
    left: 98%;
    background: rgb(82, 82, 221);
} 

.movie{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}
.caraptula{
    width: 50%;
    height: 300px;
}
.text{
    margin-left: 10px;
    color: white;
    width: 50%;
    
}

.close{
    position:absolute;
    right: 0;
    top: 0;
    width: 50px;
    cursor: pointer;
}
.video{
    height: 40%;
}
.show{
    transform: translate(0);
}