html{
    scroll-behavior: smooth; 
}
.main {
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}
/*contenedor de peliculas*/
.container_peliculas{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
/*seccion de ultimas peliculas*/
.ultimas_peliculas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_pelicula{
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.icono_pelicula{
    width: 40px;
    margin: 0 10px;
}
.container_peliculas_extreno{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
/*Diseño de las formas de las peliculas*/
.pelicula_estreno{
    height: 400px;
    width: 230px;
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 20px;
    --clip:polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.pelicula_estreno:hover{
    box-shadow: 2px 2px 8px rgba(64, 64, 62, 0.722); 
    background-color: rgb(180, 12, 12, 0.479);
    --clip:polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.caraptula{
    width: 91%;
    height: 75%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo_pelicula{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.año{
    margin: 5px 0;
    font-size: 22px;
    font-weight: 600;
    height: 25px;
    width: 50%;
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
    text-align: center;
    padding: 2px;
}
.icono_favorito{
    position: absolute;
    margin-left: 11rem;
    margin-top: 12rem;
    width: 34px;
    height: 35px;
    background-color: rgb(8, 8, 8);
    clip-path: var(--clip);
    transition: clip-path .3s;
    border: solid 0px rgb(8, 8, 8);;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.favorito_activado{
    display: none;
}
.icono_favorito:hover{
    background-color: rgba(180, 12, 12, 0.845);
}
.icono_favorito:active{
    background-color: #ffcc00d7;
}
.activado .favorito_desactivado{
    display: none;
} 
.activado  .favorito_activado{
    display: flex;
}
.img_estreno{
    width: 100%;
    height: 90%;
}

/*seccion de vistas de peliculas*/
.vista_peliculas{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.container_sub_2_peliculas{
    width: 75%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: max-content;
}
.container_sub_3_peliculas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
/*modificacion especial para la seccion de peliculas*/
.container_sub_3_peliculas .pelicula_estreno{
    width: 220px; 
    height: 400px; 
    margin: 10px 5px;
} 
.container_sub_3_peliculas .icono_favorito{
    margin-left: 10.4rem;
    margin-top: 13rem;
}
.container_sub_3_peliculas .titulo_pelicula{
    height: 70px;
}

/*container para paginar peliculas*/
.container_paginacion{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.icono_paginacion{
    text-decoration: none;
    background-color: rgba(210, 14, 14, 0.479);
    margin: 0px 10px 15px 10px ;
    font-size: 18px;
    font-weight: 800;
    width: 33px;
    height: 33px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    line-height: 30px;
    color:rgb(255, 255, 255);
}
.icono_paginacion:hover{
    background-color: rgb(177, 11, 11);
}
.icono_paginacion:active{
    background-color: #ffcc00d7;
}
/*seccion de las peliculas mas vistas*/
.las_mas_vistas{
    width: 23%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}
.las_mas_vistas .title_pelicula{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}
.las_mas_vistas .icono_pelicula{
    width: 35px;
    margin: 0 8px;
}
.las_mas_vistas .pelicula_estreno{
    height: 290px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    overflow: hidden;
}
.las_mas_vistas .caraptula{
    width: 52%;
    height: 250px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    width: 45%;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center
}
.titulo_pelicula_viviews{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.año_views, .duracion_views{
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
}
.descripcion_views{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
}
.las_mas_vistas .icono_favorito{
    margin-left: 6.5rem;
    margin-top: 10rem;
}
.eliminar{
    display: none;
}
/*Para que sea responsi */
@media (max-width:1270px){
    .las_mas_vistas{
        justify-content: center;
    }
    .las_mas_vistas .title_pelicula{
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
    }
    .las_mas_vistas .icono_pelicula{
        width:80px;
    }
    .las_mas_vistas .pelicula_estreno{
        flex-direction: column;
        height: 430px;
        justify-content: space-evenly;
        align-items: center;
    }
    .las_mas_vistas .caraptula{
        margin-top: 10px;
        width: 95%;
        height: 200px; 
    }
    .las_mas_vistas .img_estreno{
        height: 100%;
    }
    .content{
        width: 100%;
    }
    .año_views, .duracion_views{
        font-size: 20px;
        margin-top: 10px;
    }
    .las_mas_vistas .icono_favorito{
        margin-left: 12rem;
        margin-top: 7rem;
    }
    .titulo_pelicula_viviews{
        font-size: 22px;
        margin-top: 10px;
    }
    .container_sub_3_peliculas .pelicula_estreno{
        width: 280px; 
    }
    .container_sub_3_peliculas .icono_favorito{
        margin-left: 14rem;
    }
}
@media (max-width:1100px){
    .las_mas_vistas .icono_favorito{
        margin-left: 9rem;
    }
}
@media (max-width:1000px){
    .las_mas_vistas .title_pelicula{
        font-size: 1.5rem;
    }
    .las_mas_vistas .icono_pelicula{
        width:60px;
    }
    .las_mas_vistas .icono_favorito{
        margin-left: 8.3rem;
    }
    .las_mas_vistas .pelicula_estreno{
        height: 480px ;
    }
}
@media (max-width:980px){
    .vista_peliculas{
        flex-direction: column;
    }
    .container_sub_2_peliculas{
        width: 100%;
    }
    .title_pelicula{
        font-size: 3rem;
    }
    .icono_pelicula{
        width: 60px;
    }
    .las_mas_vistas{
        width: 100%;
        margin-top: 20px;
    }
    .las_mas_vistas .title_pelicula{
        font-size: 3rem;
    }
    .las_mas_vistas .container_pelicula_extreno{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .las_mas_vistas .pelicula_estreno{
        width: 350px;
        height: 400px;
    }
    .las_mas_vistas .icono_favorito{
        margin-left: 17.5rem;
    }
}
@media (max-width:500px){
    .title_pelicula{
        font-size: 2.5rem;
    }
    .pelicula_estreno{
        width: 300px;
    }
    .titulo_pelicula{
        font-size: 22px;
        font-weight: 700;
    } 
    .icono_favorito{
        margin-left: 15rem;
    }
    .container_sub_3_peliculas .pelicula_estreno{
        width: 300px; 
    }
    .container_sub_3_peliculas .icono_favorito{
        margin-left: 15rem;
    }
}
